.taxonomies-container
    display: none

// .block-class-video-content-selector .container .block-content ul li figure picture img
//     max-width: 100%

.block-class-video-content-selector img
    max-width: 100% !important

.block-class-video-content-selector li
    background-color: #FFF1E5
    padding: 1rem
