#document-footer
    .container:nth-child(1)
        padding-left: 0px 
        padding-right: 0px 
        
        .partenaires-logo
            width: 100%

            img
                width: 100%