body.pages__section main
    header
        min-height: unset
        padding-bottom: unset

        .container nav.breadcrumb-nav
            margin-top: 4rem

            ol
                height: unset

                li:last-child span
                    text-decoration: underline

        .container .content
            display: none

    .document-content .taxonomies-container
        display: none

    .document-content .blocks
        .block-class-melina-chercheuse-en-geochimie-et-ecotoxicologie
            background: unset
            margin-top: 3rem
            margin-bottom: unset

            .block-content
                padding-top: unset
                padding-bottom: 6rem
                border-bottom: solid 1px #e5e5e5

                #block-video-title-0
                    display: none

                .top
                    margin-bottom: 1rem

                    h2
                        font-size: 24px
                        font-weight: bold

                    .description
                        font-size: 16px
                        margin: unset

                .video
                    border-radius: 1rem
                    overflow: hidden

                & > p
                    display: none

        .block-class-voir-plus-de-videos-sur-le-sujet
            display: none

        // EXPLORER SON PARCOURS
        .block-class-explorer-son-parcours
            margin-bottom: 2rem

            img
                max-width: 10rem
                margin: auto auto

            li
                display: inherit
                padding: 1rem 2rem
                border-radius: .5rem
                background-color: $color-background-alt

                &:hover
                    background-color: $color-hover
                    cursor: pointer

                &.selected
                    background-color: $color-hover

                &:active
                    background-color: $color-background-alt

                figure
                    margin-bottom: .5rem

                picture
                    padding: unset

                h3
                    margin: unset
                    font-size: 16px

        .block-class-le-parcours-universitaire,
        .block-class-son-metier,
        .block-class-les-competences-a-s-orienter
            display: none

        .block-class-le-parcours-universitaire
            .chapter
                flex-direction: column
                gap: 2rem

                .text
                    width: unset

                    li
                        margin-bottom: .5rem

                        &:last-child
                            margin: unset

                figure
                    width: 100%
            
            img
                margin: unset
                width: 100%

        .block-class-son-metier
            .text
                width: unset
        
        .block-class-les-competences-a-s-orienter
            padding-top: 5rem
            padding-bottom: 5rem
            margin: unset

            ul
                grid-template-columns: repeat(2, 1fr);

                li
                    &:nth-of-type(1) article
                        background: #4567AF
                    &:nth-of-type(2) article
                        background: #74368B
                    &:nth-of-type(3) article
                        background: #059EA0
                    &:nth-of-type(4) article
                        background: #DE912C
                    &:nth-of-type(5) article
                        background: #1A4FD5
                    &:nth-of-type(6) article
                        background: #74368B
                    &:nth-of-type(7) article
                        background: #E7242C
                    &:nth-of-type(8) article
                        background: #059EA0

                    article
                        // width: calc((var(--column-width) * 6) + var(--grid-gutter) * (6 - 1) - 6px)
                        // max-width: 30rem
                        height: 100%
                        padding: 1rem
                        border-radius: .5rem
                        font-size: 16px
                        display: flex
                        flex-direction: row
                        gap: 1rem

                        & *
                            color: white
                            line-height: 115%

                        h3
                            font-size: 16px
                            font-weight: bold

                            a::after
                                position: absolute
                                right: 1rem
                                bottom: .5rem

                        .media
                            margin: unset
                            display: flex
                            align-items: center

                            img
                                height: 7rem
                                object-fit: contain

        // CHIFFRES CLES
        .block-class-les-chiffres-cles-de-la-video
            margin-top: 6rem
            margin-bottom: unset
            background: $color-background-alt
            padding: 2rem 0

            ul span
                color: $color-accent