body.page__home
    .block-chapter
        margin-top: 3rem
        margin-bottom: 3rem

        .chapter .text
            width: 100%

        .top
            margin-bottom: 1rem

    .block-testimonials .testimonial
        padding: 0

    .block-pages
        background: $color-background

        .top .block-title
            width: 100%

        article
            background: $color-background-alt
