header#document-header
    background-image: url("/assets/images/banner-header-document.svg")
    background-repeat: no-repeat
    background-position: bottom
    background-size: contain

    img
        height: 4rem !important

main header
    padding-bottom: unset !important

    .container
        position: relative
        padding: unset

        .content
            padding: unset

            .hero-text
                position: absolute
                z-index: 1
                top: 0
                left: 6rem
                color: white
                margin: unset !important
                height: 100%
                display: flex
                align-items: center

                h1
                    margin: auto auto

    figure
        width: 100% !important
