header#document-header
    background-image: url("/assets/images/banner-header-document.svg")
    background-repeat: no-repeat
    background-position: bottom
    background-size: contain

    .primary-menu
        padding-top: 1rem
        padding-bottom: 1rem
    img
        height: 4rem !important