header#document-header
    background-image: url("/assets/images/banner-header-document.svg")
    background-repeat: no-repeat
    background-position: bottom
    background-size: contain

    img
        height: 4rem !important

main header .container
        background-image: url("/assets/images/landing-page.jpg") !important
        color: white
        padding-bottom: 10rem

.block-class-les-videos-par-competences-a-s-orienter
    background: red
